:root {
    --red-first: #570D0D;
    --red-sec: #a70f00;
    --red-thi: #C31400;
}


.f-p {
    font-family: 'Jura', sans-serif;

}

.f-s {
    font-family: 'Aboreto', sans-serif;

}

.f-o {
    font-family: 'Roboto Slab', sans-serif;
    letter-spacing: 0.2em;
}


body {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(255, 255, 255, 0.087), rgba(255, 255, 255, 0.041)), url(../css/WallpaperDog-209472.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}







.form-box {

    width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 12% auto;
    padding: 50px 0;
    color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.divMain {
    display: flex;
    justify-content: space-around;
}

.div-log {
    background: transparent;
    color: white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    border: 1px white solid;
    width: 40%;
    transition: all .4s ease;
}

.div-log:hover {
    background-color: var(--red-first);
}

.p-log {
    text-align: center;
}


.input-box {
    text-align: center;
    padding: 10px;
    border-bottom: 1px white solid;
    width: 80%;
    margin: 31px auto;

}

.input-box input {
    border: none;
    outline: none;
    background: transparent;
    width: 90%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;

}

.loginBtn {
    margin: 40px auto 20px;
    width: 30%;
    padding: 10px;
    border: 1px white solid;
    outline: none;
    background: transparent;
    color: white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    display: block;
    transition: all .4s ease;
}

button:hover {
    background-color: var(--red-first);

}

.login {
    display: none;
}

